<!-- user 'content_tag' to generate HTML, because it's difficult to read if interpolating a comment's ID inside an HTML tag -->
<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
    <div class="media-body">
        <small>
            <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
            <% if user_is_authorized_for_comment?(comment) %>
             | <%= link_to "Delete", [@post, comment], method: :delete %>
            <% end %>
        </small>
        <p><%= comment.body %></p>
    </div>
<% end %>