<!-- in this file(new view), we can asscess to '@post'(new post instance) after add 'new' method in the 'PostsController' -->

<h1>New Post</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for posts</p>
        <ul>
            <li>Make sure it rhymes.</li>
            <li>Don't use the letter "A".</li>
            <li>The incessant use of hashtags will get you banned.</li>
        </ul>
    </div>
    
    <div class="col-md-8">
        
        <!-- 'form_for' work like 'link_to', a Rails method that generates HTML code -->
        <!-- use 'form_for' to accept a post's title and body that user submitted, and then create a new post -->
        <!-- 'form_for' can access '@post'(new post instance) as a object -->
<<<<<<< HEAD
<<<<<<< HEAD
        <%= form_for [@topic, @post] do |f| %>
            <div class="form_group">
                <!-- use 'f.label' to display key 'Title' -->
                <!-- 'f.label' method is provided by 'form_for', and act like '<label>' -->
                <!-- create a label for title -->
                <%= f.label :title %>
                <!-- 'f.text_field' method is provided by 'form_for', and act like '<input>' -->
                <!-- 'f.text_field' will take the user input into post[title] -->
                <!-- create a text field to put in the string(title) -->
                <%= f.text_field :title %>
            </div>
            <div class="form-group">
                <!-- create a label for body -->
                <%= f.label :body %>
                <!-- create a text area to put in the paragraph(body) -->
                <%= f.text_area :body %>
            </div>
            <div class="form-group">
                <!-- 'f.submit' act like in '<input>' tag of 'submit' type -->
                <!-- create a save button -->
                <!-- when user click this button, the 'create method' will be called -->
                <%= f.submit "Save" %>
            </div>
        <% end %>
=======
        <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
>>>>>>> cp22
=======
        <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
>>>>>>> cp23
    </div>
</div>



   
    
    
    
    
