<h1>
    <%= @post.title %><br>
    
    <small>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>
</h1>

<div class="row">
    <div class="col-md-8">
        <p><%= @post.body %></p>
        <div>
            <h3>Comments</h3>
            <!-- display comment on the post's show page -->
            <!-- will call '_comment.html.erb' and render all the comments which belong to the given post -->
            <%= render @post.comments %>
        </div>
        <!-- allow signed user to see the comment form -->
        <% if current_user %>
            <!-- render the comment form, and use 'comments/form' because we are rendering the comment form from a post view -->
            <!-- if didn't use 'comments/form', Rails will render the 'posts form partial' by default -->
            <%= render 'comments/form', comment: Comment.new, post: @post %>
        <% end %>
    </div>
    <% if user_is_authorized_for_post?(@post) %>
        <div class="col-md-4">
            <!-- format a link as an Edit button, which driects user to '/posts/@post.id/edit' -->
            <!-- 'edit_post_path(@post)' is a method that generated in routes.rb by 'resources :posts' -->
            <!-- can use 'rake routes' to wiew the post routes -->
            <%= link_to "Edit", edit_topic_post_path(@post.topic, @post), class: 'btn btn-success' %>
            <!-- use 'link_to' to create a 'delete button, and the text is 'Delete Post' -->
            <!-- use 'method: :delete' to override the default method 'method: :post', so when the user push the button, the route will call delete route -->
            <!-- use 'class:' to set style of the button -->
            <!-- 'data:' is a Hash, 'confirm' is the key of the data hash -->
            <!-- 'data:' will use JavaScript to confirm a action when user presses the button -->
            <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
        </div>
    <% end %>
</div>